Lana_Integrada_Final.json
{
    "name": "Layana - Mente + Ouvido",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "recebe_whatsapp_layana",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook_1",
            "name": "Webhook Layana",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "cb3bc7d7-133a-4a21-98a0-21db33385734"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.item.json.body;\n\nif (!body || body.event !== \"messages.upsert\") return [];\nif (body.data.key.fromMe) return [];\n\nlet text = \"\";\nif (body.data.message?.conversation) {\n  text = body.data.message.conversation;\n} else if (body.data.message?.extendedTextMessage?.text) {\n  text = body.data.message.extendedTextMessage.text;\n} else if (body.data.message?.imageMessage?.caption) {\n  text = body.data.message.imageMessage.caption;\n}\n\nif (!text) return [];\n\nconst number = body.data.key.remoteJid.split('@')[0];\nconst pushName = body.data.pushName || \"Cliente\";\n\nreturn {\n  chatInput: text,\n  number: number,\n  pushName: pushName,\n  sessionId: number\n};"
            },
            "id": "code_1",
            "name": "Normalizar Mensagem",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                0
            ]
        },
        {
            "parameters": {
                "text": "=[Telefone da Cliente: {{ $('Normalizar Mensagem').first().json.number }}] {{ $json.chatInput }}",
                "options": {
                    "systemMessage": "Você é a Lana, assistente inteligente da Lana Wolf Art.\n\n# DIRETRIZES E PERSONA\n- Perfil: Especialista em estética, segura e empática.\n- Objetivo: Transformar dúvidas em agendamentos de alto valor (high-ticket), destacando a transformação e os benefícios dos procedimentos realizados.\n- Público: ATENDIMENTO EXCLUSIVO AO PÚBLICO FEMININO, EXCETO PIERCING QUE ATENDE HOMENS E MULHERES.\n- Voz: Calorosa, com toque humano e frases curtas. Use emojis leves.\n- Mantenha o foco em prestar esclarecimentos e tirar dúvidas da cliente.\n\n# 1. ATENDIMENTO E QUALIFICAÇÃO\n1. Saudação inicial: Recepcione calorosamente, sempre esclarecendo a tudo o que for perguntado.\n2. FILTRO DE GÊNERO (REGRA DE OURO):\n   - SE FOR MASCULINO: Informe que o estúdio atende APENAS público feminino e encerre educadamente.\n\n# 2. SERVIÇOS\n- Design Sobrancelhas: R$ 120-300 | 20 Min\n- Micropigmentação Labial: R$ 500-1000 | 180 Min\n- Extensão Cílios: R$ 50 | 20 Min\n\n# 3. FINALIZAÇÃO\nQuando a cliente der tchau/encerrar a sessão de vez, agradeça pelo contato."
                }
            },
            "id": "agent_1",
            "name": "Agente Lana",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                400,
                0
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.5-flash",
                "options": {
                    "temperature": 0.5
                }
            },
            "id": "model_1",
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                400,
                250
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "",
                    "name": "AIzaSyAovGYl55cb7Z4VO6h95fb7TstlMeh7Gaw - (Cole no painel de Credenciais do N8N)"
                }
            }
        },
        {
            "parameters": {
                "sessionId": "={{ $('Normalizar Mensagem').first().json.sessionId }}"
            },
            "id": "memory_1",
            "name": "Memória (Buffer)",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.2,
            "position": [
                550,
                250
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://evo-n8ks88g0c0gk4848o8occs44.76.13.234.225.sslip.io/message/sendText/Layana",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "GS2kgv6tDcGnN4i5IfIdrrEDDgKQxr39"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $('Normalizar Mensagem').first().json.number }}\",\n  \"text\": {{ JSON.stringify($json.output) }}\n}",
                "options": {}
            },
            "id": "evo_api_1",
            "name": "Enviar Resposta WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                0
            ]
        }
    ],
    "connections": {
        "Webhook Layana": {
            "main": [
                [
                    {
                        "node": "Normalizar Mensagem",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar Mensagem": {
            "main": [
                [
                    {
                        "node": "Agente Lana",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Agente Lana",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Memória (Buffer)": {
            "ai_memory": [
                [
                    {
                        "node": "Agente Lana",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Agente Lana": {
            "main": [
                [
                    {
                        "node": "Enviar Resposta WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {}
}